@model IEnumerable<SacramentMeetingPlanner.Models.SacramentMeeting>

@{
    ViewData["Title"] = "Meetings";
}

<h1>Meeting Planner</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConductingLeaderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntermediateHymnOrMusicalNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningPrayerPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingPrayerPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSpeakers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeakerSubjects)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConductingLeaderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntermediateHymnOrMusicalNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningPrayerPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingPrayerPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSpeakers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerSubjects)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
